@media screen and (max-width: 1024px) {

    .logo {
        font-size: 28px;
    }

    .title {
        font-size: 30px;
    }

    .banner-image img {
        width: 80%;
        height: 80%;
    }

    .header-banner-container {
        padding: 10% 0;
    }

    .banner-image {
        display: flex;
        justify-content: center;
    }

}

@media screen and (max-width: 868px) {
    .logo {
        font-size: 28px;

    }

    .pc-nav {
        display: none;
    }

    .mobile-nav {
        display: flex;
        align-items: center;
        font-size: 28px;
        justify-content: space-between;
        margin-bottom: 25px;
    }

    .title {
        font-size: 30px;
    }



}

@media screen and (max-width: 772px) {


    .logo {
        font-size: 25px;
    }

    .mobile-nav {
        font-size: 25px;
    }


    .title {
        font-size: 30px;
    }

    .banner-content {
        flex-direction: column-reverse;
        justify-content: center;
    }

    .banner-text {
        text-align: center;
        width: 100%;
        margin-top: 50px;
    }

    .logo-container img {
        width: 15%;

    }


    .see-more-btn {
        color: #E02C6D;
        margin-top: 40px;
        text-align: center;
    }


}

@media screen and (max-width: 567px) {
    .logo {
        font-size: 22px;
    }

    .mobile-nav {
        font-size: 22px;
    }



    section {
        padding: 4%;
    }

    .banner-content {
        flex-direction: column-reverse;
        justify-content: center;
    }


    .header-banner-container {
        padding: 0;
    }


}